
<div class="mapWrapper">
  <agm-map [zoom]="19" [latitude]="lat" [longitude]="lng" [streetViewControl]="false" [zoomControl]="false">
    <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="iconUrl"></agm-marker>
  </agm-map>
  <div class="compass">
    <h1>{{bearing}}</h1>
  </div>
  <div class="gauge">
    <ngx-gauge [type]="gaugeType" [size]=500 [min]="min" [max]="max" [value]="speed" [thick]="thick"
      [thresholds]="thresholdConfig" [append]="gaugeAppendText">
    </ngx-gauge>
  </div>
</div>